// @import './styles.scss';

.components {
  h2 {
    margin-top: -.8rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;


  }

  a,
  .reverted-link {
    all: revert;
    display: block;
    margin-top: 0px;
    margin-bottom: .2rem;
    font-size: .8rem;
  }

  article {
    p {
      text-align: justify;
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: .5rem;
    }

    @include breakpoint(mobile, min) {
      padding-left: 1rem;
      width: 50%;
    }

  }

  .item {
    h3 {
      font-size: 1.4rem;
      color: $red;
    }

    &.card {
      box-shadow: 2px 3px 5px -1px;
      border-radius: 5x;

    }


    @include breakpoint(mobile, max) {
      padding: .5rem;
      margin-bottom: 1rem;
    }

    @include breakpoint(mobile, min) {
      padding: .5rem;
      padding-top: .5rem;
      padding-bottom: 1rem;
      margin-left: .1rem;
      margin-bottom: 1.5rem;
      width: 50%;
    }
  }

  .details {
    margin-top: .3rem;

    p {
      font-style: italic;
      margin-top: .5rem;
    }



  }
}
