.components {
  p {
    text-align: justify;
  }

  a,
  .reverted-link {
    all: revert;
  }

  @include breakpoint(mobile, max) {
    h2 {
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: .5rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  @include breakpoint(laptop, min) {
    h2 {
      margin-bottom: 1rem;
    }

    h3 {
      margin-top: .8rem;
      margin-bottom: .3rem;
    }

    p {
      margin-bottom: .5rem;
      margin-left: .3rem;
    }
  }

}
