.components {
  h2 {
    margin-top: -.8rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
  }

  a,
  .reverted-link {
    all: revert;
    display: block;
    margin-top: 0px;
    margin-bottom: .2rem;
  }

  article {
    p {
      text-align: justify;
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: .5rem;
    }
  }

  .item {
    padding: .5rem;
    padding-top: 0rem;

    h3 {
      font-size: 1.4rem;
    }
  }

  .details {
    margin: .3rem;
    margin-top: .3rem;

    p {
      font-style: italic;
      margin-top: .5rem;
    }
  }
}

// .components {
//   p {
//     text-align: justify;
//   }

//   a,
//   .reverted-link {
//     all: revert;
//     display: block;
//     margin-top: 0px;
//     margin-bottom: .2rem;
//   }

//   h2 {
//     font-size: 1.2rem;
//     margin-left: 0rem;
//     margin-bottom: .2rem;
//   }

//   .details {
//     margin: .3rem;
//     margin-top: 0rem;

//     p {
//       font-style: italic;
//       margin-top: .5rem;
//     }
//   }

//   .item {
//     h1 {
//       // font-family: 'JetBrains Mono',
//       //   'Alegreya',
//       //   serif;

//     }
//   }

//   @include breakpoint(mobile, max) {
//     h1 {
//       // margin-bottom: 0px;
//     }

//     h2 {
//       margin-bottom: 1rem;
//     }

//     h3 {
//       margin-bottom: .5rem;
//     }

//     p {
//       margin-bottom: 1rem;
//     }

//     a,
//     .reverted-link {
//       // margin-left: .5rem;
//     }
//   }

//   @include breakpoint(laptop, min) {
//     h2 {
//       margin-bottom: 1rem;
//     }

//     h3 {
//       margin-top: .8rem;
//       margin-bottom: .3rem;
//     }

//     p {
//       margin-bottom: .5rem;
//       margin-left: .3rem;
//     }
//   }

// }
