@import './media-queries';
@import './components.scss';

$yellow: #fce473;
$green: #32cd32;
$black: #181d18;
$niceOrange: rgba(236, 183, 18, 1);
$grey: rgba(88, 84, 70, 1);
$red: rgba(156, 24, 24, 1);

$primary-color: $black;
$link-color: $grey;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  font-size: 17px;

  h1,
  h2,
  h3,
  p {
    margin: 0px;
  }

}

a {
  text-decoration: none;
  outline: none;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: black;
    text-decoration: underline;
  }

  &:active {
    color: $red;
  }
}

.container {
  @include breakpoint(mobile, max) {
    width: screen;
  }

  @include breakpoint(laptop, min) {
    width: 1020px;
    margin: auto;
  }
}


header {
  position: sticky;
  top: 0;

  background-color: $niceOrange;

  @include breakpoint(mobile, max) {
    padding: 1em;

    h3 {
      margin-bottom: .5rem;
      margin-left: .5rem;
    }
  }

  @include breakpoint(laptop, min) {
    padding: 1em;

    h3 {
      margin-top: .4rem;
      margin-bottom: .6rem;
      margin-left: 0rem;
    }
  }

}


nav {
  a~a {
    padding-left: 1rem;
  }
}

.router {
  @include breakpoint(mobile, max) {
    margin: 1rem;
  }

  @include breakpoint(laptop, min) {
    margin-top: 1rem;
  }
}
