@import './media-queries';

$yellow: #fce473;
$green: #32cd32;
$black: #181d18;
$primary-color: $black;

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 960px;
}

.over-fold {
  padding-bottom: 3rem;
  background-color: yellow;
}

header {
  h1 {
    margin: 0;
    color: $green;

    &:hover {
      color: $yellow;
    }
  }
}

nav {
  a~a {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: green
  }
}
