$yellow: #fce473;
$green: #32cd32;
$black: #181d18;
$niceOrange: rgba(236, 183, 18, 1);
$grey: rgba(88, 84, 70, 1);
$red: rgba(156, 24, 24, 1);

$primary-color: $black;
$link-color: $grey;
$active-link-color: $red;
