<div class="components">
  <h2>Portfolio</h2>
  <div class="item">
    <h3>golf-bet</h3>
    <div class="details">

      <a class="reverted-link" href="https://golf-bets.web.app/" target="_blank">Live Site</a>
      <a class="reverted-link" href="https://github.com/noconsulate/golf-bet">Repository</a>
      <p>
        golf-bet is a scorecard app for golf that supports multiple players. It was originally intended to be a
        fully-functional app that settlement of bets but for now it's an unfinished demonstration.
      </p>
    </div>
  </div>
</div>
