<div class="components">
  <h2>Portfolio</h2>
  <div class="item card">
    <h3>rando-from-set</h3>
    <div class="details">
      <a class="reverted-link" href="https://randos-from-set.web.app" target="_blank">Live Site</a>
      <a class="reverted-link" href="https://github.com/noconsulate/random-from-set" target="_blank">Repository</a>
      <p>
        randos-from-set gives lets you build a set and get a rando from it with the click of a button! 
      </p>
    </div>
  </div>
  <div class="item card">
    <h3>golf-bet</h3>
    <div class="details">

      <a class="reverted-link" href="https://golf-bets.web.app/" target="_blank">Live Site</a>
      <a class="reverted-link" href="https://github.com/noconsulate/golf-bet">Repository</a>
      <p>
        golf-bet is a scorecard app for golf that supports multiple players. It was originally intended to be a
        fully-functional app that settlement of bets but for now it's an unfinished demonstration.
      </p>
    </div>
  </div>
  <div class="item card">
    <h3>janssendotcom</h3>
    <div class="details">
      <a href="https://www.janssenkuhn.com" target="_blank">Live Site</a>
      <a href="https://github.com/noconsulate/janssendotcom" target="_blank">Repository</a>
      <p>
        Don't click this link! You're already here. I'm including it here because it's something I made and it makes my
        portfolio longer. I learned Angular to make this site and I'd be happy if I never touched Ng again but I'd be
        even more happy if I were paid to do so.
      </p>
    </div>
  </div>
</div>
