  <div class="components">
    <h2>Biography</h2>
    <article>
      <h3>Early Life</h3>
      <p>I was born in Portland, Oregon in the early 80's. From an early age I got into computers and music and all
        through
        childhood those were my hobbies, and I also did pretty well in school. In my senior year of high school I was in
        student leadership, had a star roll on the mock trial team, and was enrolled at Reed College as pre-freshman
        student. Unfortunately, as it later turned out, I was also in a professional jazz band and before one year of
        college was over I quit
        school
        to be a musician full time.</p>
      <h3>Music Career</h3>
      <p>For some 15 years or so I lived as a professional musician playing gigs, busking, and teaching lessons. During
        this
        time I learned a lot about life, especially what not to do! I also learned about running a business and dealing
        with
        clients. Eventually I gave up the dream and decided to switch my hobby (computers) with my profession (music).
      </p>
      <h3>Developing Developer...</h3>
      <p>
        In the winter of 2019 I enrolled in a C++ class at a community college and after a life of tinkering I started
        to become a serious programmer.
        After the challenging initial learning curve I finished the class materials before the term was over and then
        finished the text book on my own. I didn't enroll in any further classes and continued studying on my own. Since
        then
        I've spent several hours a day learning and developing.
      </p>
      <h3>Skills and Talents</h3>
      <p>
        Like most new developers, pretty much everything I know is in the realm of web development. I've messed around
        with
        various frontend frameworks and especially like Vue, though I don't mind React or Angular. My 'expertise', such
        as it is, is in React and Vue though I can rise to the occasion of any frontend task I might be asked to do and
        I'm
        not
        shy of backend stuff either. Lately I've been getting nitty-gritty with raw CSS. I can learn whatever stack my
        team uses in requisite time. Most recently I figured out how to make a full-featured progressive web app with React + Workbox and published a tutorial about it.
      </p>
      <p>
        I have soft skills. Which means I can follow instructions and get along with a team. Hopefully the benefits of
        life
        experience will make this mid-life career change of mine go a little smoother.
      </p>
      <p>
        After working hard and consistently the past few years to make myself into a developer I'm ready to start my
        career.
        I'd like to get a job somewhere as a junior developer but I am open to doing an internship or help out by doing
        some
        freelance work. I'd even be willing to do a free website/app or two, so please contact me if I can be useful to
        you or someone you know.
      </p>
    </article>
  </div>
